input::placeholder {
  color: #CCCCCC;
}

.registration-form__input {
  margin-top: 10px;
  font-size: 14px;
  line-height: 17px;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  padding: 0 0 9px 6px;
}

.registration-form__input:focus {
  outline-style: none;
  border-bottom-color: #ffe8b4;
  border-radius: 10px 37px 0px;
  outline-width: 2px;
  box-shadow: rgb(255 255 255 / 25%) 0px 17px 53px,
  rgb(255 255 255 / 12%) 0px -12px 30px, rgb(255 255 255 / 12%) 0px 4px 6px,
  rgb(255 255 255 / 17%) 0px 12px 13px, rgb(255 255 255 / 9%) 0px -3px 5px;
}
